@page
@model Puroguramu.App.Pages.Teacher.CreateLessonModel

@{
    ViewData["Title"] = "Create Lesson";
}

<h1>Create Lesson</h1>

<div class="row">
    <div class="col-12">
        <form id="createLessonForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Title" class="form-control" autocomplete="title" aria-required="true" />
                <label asp-for="Input.Title"></label>
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <button id="createLessonSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-2">Create</button>
            <div class="d-flex flex-column align-items-center mt-2">
                <p>
                    <a asp-page="/Teacher/Index">Go to Dashboard</a>
                </p>
                </div>
        </form>
    </div>
</div>