@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Matricule" class="form-control" disabled />
                <label asp-for="Matricule" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true"/>
                <label asp-for="Input.Name"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Firstname" class="form-control" autocomplete="firstname" aria-required="true"/>
                <label asp-for="Input.Firstname"></label>
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            @if (Model.Role.Contains("Student"))
            {
                <div class="form-floating">
                    <span class="text-muted">Groups</span>
                    <select class="form-select" asp-for="Input.Group">
                        @foreach (var group in Model.Groups)
                        {
                            <option value="@group.GroupName">@group.GroupName</option>
                        }
                    </select>
                    <span asp-validation-for="Input.Group" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Input.ProfilePicture"></label>
                <br/>
                <input asp-for="Input.ProfilePicture" type="file" class="form-control" accept="image/png,image/jpeg,image/jpg"/>
                <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
            </div>
                
            @if (!string.IsNullOrEmpty(Model.MemberPhotoPath))
            {
                <br/>
                <h4 id="profile-picture-title">Current profile picture :</h4>
                <button id="delete-profile-picture-button" type="button">Delete image</button>
                <img src="~/@Model.MemberPhotoPath" id="profile-picture" alt="Profile picture">
                <input type="hidden" id="delete-profile-picture" asp-for="Input.DeleteProfilePicture" />
            }
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
